.containers {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.contents {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e9ecef;
}

.form-containers {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 350px;
  height: 350px;
  text-align: center;
}

.form-containers h1 {
  margin: 50px;
  font-size: 18px;
}

.form-containers form input {
  display: block;
  width: 280px;
  margin: 50px 25px 30px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #b7cee4;
  padding: 10px;
}

.form-containers form a {
  font-size: 12px;
  text-decoration: none;
  color: #007bff;
  margin-bottom: 15px;
  display: block;
}

.form-containers form button {
  width: 100px;
  border: none;
  border-radius: 60px;
  background-color: #11b053;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin: 25px 125px;
  padding: 10px;
}
