#side{
    width: 250px;
    height: 100%;
    background-color: #166fc938;
    text-align: center;
    

}

#side>nav>a{
    display: block;
    color: black;
    font-size: 20px;
    background-color: #166fc978;
    margin-block: 1px;
    padding: 10px;
    
}