#logo{
display: inline;

}

header{
    display: flex;
    height: 80px;
    width: 100vw;
    justify-items: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    border-bottom: 3px solid rgb(60, 56, 56);
}

#cabecalho{
    display: flex;
    width: 95%;
    height: auto;
    

}